.App {
  height: 100vh;
  display: flex;
}

nav {
  width: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #633333;
  justify-content: center;
  align-items: center;
}

nav div {
  margin: 0.5rem auto;
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-list{
  width: 50rem;
  margin: 0.25rem auto;
  background: #FFF;
  /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);*/
  color: #000;
  border-radius: 5px;
  padding: 0.125rem;

}
.item-excerpt{
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem;
  border-bottom: 0.1rem solid rgb(112, 109, 109);
}

.item-excerpt span {
  width: 10rem;
  height: 1.5rem;
  padding: 0.25rem;
}