.App {
  height: 100vh;
  display: flex;
}

nav {
  width: 5rem;
  display: flex;
  flex-direction: column;
  background-color: #633333;
  justify-content: center;
  align-items: center;
}

nav div {
  margin: 0.5rem auto;
}

.navlink-selected {
  background-color: #644343;
}

.login {
  width: 30rem;
  height: 30rem;
  background: white;
}

.login div{
  width: 100%;
  font-size: 3rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upper {
  height: 40%;
}

.lower {
  height: 50%;
}
.login input {
  width: 50%;
  height: 2.5rem;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  padding: 0 1.125rem;
  margin: 0.25rem 0;
}

.login input:focus {
  outline: none;
}

.login button {
  width: 25%;
  height: 2.5rem;
  margin-top: 1rem;
  background-color: #c25353;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 1.125rem;
}

.login button:focus {
  outline: none;
}

.login button:active {
  transform: scale(0.95);
}

.content{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.item-list{
  width: 50rem;
  margin: 0.25rem auto;
  background: #FFF;
  /*background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(247,247,247,1) 100%);*/
  color: #000;
  border-radius: 5px;
  padding: 0.125rem;

}
.item-excerpt{
  display: flex;
  justify-content: flex-start;
  font-family: 'Roboto', sans-serif;
  font-size: 1.25rem;
  margin: 0.5rem;
  border-bottom: 0.1rem solid rgb(112, 109, 109);
}

.item-excerpt span {
  width: 10rem;
  height: 1.5rem;
  padding: 0.25rem;
}